@model CustomerOrderListModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;
@{
    Layout = "~/Themes/DefaultClean/Views/Shared/_CustomLayout.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    //个人中心菜单
    ViewBag.Menu = "orders";
}
@section sec_head{
}
@helper OrderLink(CustomerOrderListModel.OrderDetailsModel order, bool showStepName)
{
    var linkName = "";
    var step = ((OrderStep)order.OrderStepId);
    var url = Url.Action("OrderStep1", new { orderId = order.Id });

    switch (step)
    {
        case OrderStep.Pending:
            {
                linkName = "待上传实景图";
                url = Url.Action("OrderStep1", new { orderId = order.Id });
                break;
            }
        case OrderStep.ConfirmBooking:
            {
                linkName = "待确定预约";
                url = Url.Action("OrderStep2", new { orderId = order.Id }); 
                break;
            }
        case OrderStep.MeasureForPrice:
            {
                linkName = "待支付定金";
                url = Url.Action("OrderStep3", new { orderId = order.Id }); 
                break;
            }
        case OrderStep.ManufactureAndInstallment:
            {
                linkName = "待支付尾款";
                url = Url.Action("OrderStep4", new { orderId = order.Id }); 
                break;
            }
        case OrderStep.Complete:
            {
                linkName = "订单完成";
                url = Url.Action("OrderStep5", new { orderId = order.Id }); 
                break;
            }
    }

    if (!showStepName)
    {
        linkName = order.OrderNumber;
    }

    <a href="@url">@linkName</a>
}
<div id="wrap">
    @Html.Action("CustomerMenu", "Customer")
    <div class="account">
        @if (Model.Orders.Count > 0)
        {
            <div class="list">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th>时间</th>
                            <th>订单号</th>
                            <th>商品</th>
                            <th>商品数量</th>
                            <th>订单总额</th>
                            <th>预约安装时间</th>
                            <th>状态</th>
                            @*<th style="width:130px">订单客服</th>*@
                        </tr>
                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>@order.CreatedOn.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@OrderLink(order, false)</td>
                                <td>
                                    @{
                            var productName = string.Empty;
                            foreach (var item in order.Items)
                            {
                                productName = productName + item.ProductName + ", ";
                            }
                            productName = productName.Substring(0, productName.Length - 2);
                            if (productName.Length > 18)
                            {
                                productName = productName.Substring(0, 15) + "...";
                            }
                                    }
                                    @Html.Raw(productName)
                                </td>
                                <td>@order.Items.Count()</td>
                                <td>@order.OrderTotal</td>
                                <td>@(order.BookingDate.HasValue ? order.BookingDate.Value.ToString("yyyy-MM-dd") : "") @order.BookingTimeName</td>
                                <td>@OrderLink(order, true)</td>
                                @*<td>
                                        <p>小梦</p>
                                        <span class="weixin" onmouseover="this.className = 'weixin on';" onmouseout="this.className = 'weixin';">
                                            <a href="javascript:;"></a>
                                            <div class="weixin_nr">
                                                <div class="arrow"></div>
                                                <img src="images/erweima.jpg" width="100" height="100">
                                            </div>
                                        </span>
                                        <span class="qq">QQ</span>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="foots">共 @Model.Orders.Count 笔订单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerOrders.NoOrders")
            </div>
        }
    </div>
</div>
