@model HeaderLinksModel
@using Nop.Web.Models.Common;
<div id="head">
    <ul class="topnav omega">
        @*<li class="epaper"><a class="fancyEpaper" href="#">订阅邮件</a></li>*@
        @if (Model.IsAuthenticated)
        {
            <li class="epaper"><span class="login"><a class="fancyLogin" href="@Url.Action("CustomerOrders","Order")">我的账户</a></span></li>
            <li class="member"><a class="fancyEpaper" href="@Url.Action("Logout","Customer")">退出</a></li>
        }
        else
        {
            <li class="epaper"><span class="login"><a id="btn_login" class="fancyLogin" href="@Url.RouteUrl("Login")">登录</a></span></li>
            <li class="member"><a id="btn_register" class="fancyEpaper" href='@Url.RouteUrl("Register")'>注册</a></li>
        }
        <li id="cart"><a class="fancyLogin" href="@Url.Action("cart", "shoppingcart")"><span>@(Model.ShoppingCartItems)</span>个商品</a></li>
    </ul>
</div>
 