
@using Nop.Core.Domain.Customers
@{
    bool needBindPhone = WorkContext.CurrentCustomer.NeedBindPhone();

}
<div class="account">
    <div class="menu">
        <ul>
            <li id="btn_logout2">注销</li>
            @if (needBindPhone)
            {
                <li @if (ViewBag.Menu == "bindPhone") { <text> class="select" </text>       } onclick="document.location.href='@Url.Action("BindPhone", "Customer")'">绑定手机</li>
            }
            else
            {
                <li @if (ViewBag.Menu == "changepassword") { <text> class="select" </text>      } onclick="document.location.href='@Url.Action("ChangePassword","Customer")'">修改密码</li>
            }
            <li @if (ViewBag.Menu == "info") { <text> class="select" </text>   } onclick="document.location.href='@Url.Action("Info", "Customer")'">个人信息</li>
            <li @if (ViewBag.Menu == null || ViewBag.Menu == "orders") { <text> class="select" </text>        } onclick="document.location.href='@Url.Action("CustomerOrders", "Order")'">我的订单</li>
            <li @if (ViewBag.Menu == "wishlist") { <text> class="select" </text>    } onclick="document.location.href='@Url.Action("Wishlist","ShoppingCart")'">我的收藏</li>
            <li onclick="document.location.href='@Url.RouteUrl("HomePage")'">商城首页</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#btn_logout2").click(function () {
            layer.msg('您确定要注销吗？', {
                time: 0
               , btn: ['是的', '取消']
               , yes: function (index) {
                   $.ajax({
                       type: "POST",
                       url: "@Url.Action("Logout","Customer")",
                       success: function (result) {
                           document.location.href = "/";
                           layer.close(index);
                       }
                   });
               }
            });
        });
    });
</script>