@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@using Nop.Core;

@{
    Layout = "~/Themes/DefaultClean/Views/Shared/_CustomLayout.cshtml";

    //title
    Html.AddTitleParts("修改密码");

    //个人中心菜单
    ViewBag.Menu = "changepassword";
}
@section sec_head{
    <style type="text/css">
        .field-validation-error {
            color: red;
        }
    </style>
}
@section sec_body{

}
<div id="wrap">
    @Html.Partial("CustomerMenu")
    @using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        if (!string.IsNullOrWhiteSpace(Model.Result))
        {
            <div>修改密码成功！</div>
        }
        @Html.ValidationSummary(true)



        <div class="account">
            <div class="infor_one">

                <div class="second" style="border-top:none">修改密码</div>
                <ul class="third" style="vertical-align:central">
                    <li>
                        <label>当前密码</label>@Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </li>
                    <li>
                        <label> 新密码</label>
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </li>
                    <li>
                        <label>确认密码</label>  @Html.PasswordFor(m => m.ConfirmNewPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </li>

                    <li><a href="javascript:$('form').submit();">修改密码</a></li>
                </ul>
            </div>
        </div>



    }
</div>
