@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@using Nop.Core;

@{
    Layout = "~/Themes/DefaultClean/Views/Shared/_CustomLayout.cshtml";

    //title
    Html.AddTitleParts("修改密码");

    //个人中心菜单
    ViewBag.Menu = "changepassword";
}
@section sec_head{

}
@section sec_body{

}
<div id="wrap">
    @Html.Partial("CustomerMenu")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

       
        }
        <div class="account">
            <div class="infor_one">
                if (!String.IsNullOrEmpty(Model.Result))
                {
                <div class="result">
                    @Model.Result
                </div>
             
                <ul class="third">
                    <li>
                        <label>当前密码：</label>
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m=>m.OldPassword)
                    </li>
                    <li>
                        <label>新密码：</label>
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </li>
                    <li>
                        <label>确认密码：</label>
                        @Html.PasswordFor(m => m.ConfirmNewPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </li>
                    <li>
                        <input type="submit" id="bind-button" class="butn" value="修改密码" />
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
