@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <link type="text/css" href="/themes/defaultclean/content/images/bundle.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
    <script src="/themes/defaultclean/content/images/unslider.min.js" type="text/javascript"></script>
    <link type="text/css" href="/scripts/layer/skin/layer.css" rel="stylesheet" />
    <script src="/Scripts/layer/layer.js" type="text/javascript"></script>
    <script src="/scripts/public.common.js" type="text/javascript"></script>
    <script src="/scripts/public.ajaxcart.js" type="text/javascript"></script>
    @RenderSection("sec_head", required: false)
    <style type="text/css">
    </style>
</head>
<body>
    @RenderSection("heads_before", required: false)
    <div class="container_48">
        <!--头部-->
        <div id="navWrapper">
            <a href="/"><img id="navLogo" width="170" height="39" src="/content/custom/images/logo.jpg" alt="路过麦田" /></a>
            <div id="navUtilities">
                <table>
                    <tbody>
                        <tr>
                            <td class="last-child">
                                <form id="search-form">
                                    <input id="keyWord" maxlength="50" type="text" value="" placeholder="请输入关键字" />
                                    <input type="submit" class="search-btn" value="" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul id="nav">
                <li><a href="/search?cid=1&tid=0">窗帘</a><span>|</span></li>
                <li><a href="/search?cid=4&tid=0">百叶</a><span>|</span></li>
                <li><a href="/search?cid=2&tid=0">罗马杆</a><span>|</span></li>
                <li><a href="/search?cid=3&tid=0">轨道</a><span>|</span></li>
                <li><a href="/product/productgroups">简单购</a><span>|</span></li>
            </ul>
            <div id="head">
                <ul class="topnav omega">
                    <li class="epaper"><a class="fancyEpaper" href="#">订阅邮件</a></li>
                    <li class="member"><span class="login"><a id="btn_login" class="fancyLogin" href="javascript:void(0);">会员登录</a></span></li>
                    <li id="cart"><a class="fancyLogin" href="#"><span>0</span>个商品</a></li>
                </ul>
                <script type="text/javascript">
                    $(function () {
                        $("#btn_login").click(function () {
                            layer.open({
                                type: 2,
                                title: false,
                                closeBtn: 0,
                                area: ['780px', '430px'],
                                skin: 'layui-layer-rim',
                                content: ['@Url.RouteUrl("Login")', 'no']
                            });
                        });     
                    });
                </script>
            </div>
            <div class="clear"></div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <!--底部-->
    <table cellpadding="0" cellspacing="0" height="220" width="100%">
        <tbody>
            <tr>
                <td align="center" bgcolor="#fafafa">
                    <table cellpadding="0" cellspacing="0" height="180" width="1180">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="#dfdfdf" height="1">
                                    <img src="/themes/defaultclean/content/images/line.gif" height="1" widht="1180" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table background="/themes/defaultclean/content/images/index_info_bg5.gif" cellpadding="0" cellspacing="0" class="p_indexTxt" width="1180">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top" width="20%">
                                                    <div class="p_indexTitle">关于路过麦田</div><br />
                                                    <a href="#" target="_blank">了解路过麦田</a><br />
                                                    <a href="#" target="_blank">加入路过麦田</a><br />
                                                    <a href="#" target="_blank">关注微博</a>
                                                </td>
                                                <td align="center" valign="top" width="20%">
                                                    <div class="p_indexTitle">服务支持</div><br />
                                                    <a href="#" target="_blank">七天承诺</a><br />
                                                    <a href="#" target="_blank">退货服务</a><br />
                                                    <a class="do-login" href="#">订单询问</a>
                                                </td>
                                                <td align="center" valign="top" width="20%">
                                                    <div class="p_indexTitle">帮助中心</div><br />
                                                    <a href="#" target="_blank">新手指南</a><br />
                                                    <a href="#" target="_blank">支付方式</a><br />
                                                    <a href="#" target="_blank">配送方式</a>
                                                </td>
                                                <td align="center" valign="top" width="20%">
                                                    <div class="p_indexTitle">路过麦田微信公众号</div><br />
                                                    <img src="/themes/defaultclean/content/images/footer-weixin.gif" alt="" height="70" data-original="http://s3.lativ.com/i/Page/images/2015/footer-weixin.gif" vspace="5" width="70" />
                                                </td>
                                                <td align="center" valign="top" width="20%">
                                                    <div class="p_indexTitle">021-3891-9868</div>
                                                    <br />周一至周五<br />09:00-12:20<br />13:30-17:00
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container_48">
        <div id="footer">
            <table>
                <tbody>
                    <tr>
                        <td class="first-child">
                            <span class="first-child">
                                <a href="#">快讯讯息</a>
                            </span><span>
                                <a href="#">隐私条款</a>
                            </span><span class="last-child">
                                <a href="#">服务条款</a>
                            </span>
                        </td>
                        <td>
                            <span><a href="#" target="_blank">上海工商</a></span>
                            <span><a href="#" target="_blank">沪ICP备15013396号</a></span>
                            <span class="last-child">© 2016 lativ</span>
                        </td>
                        <td class="last-child">
                            <span class="web-mobile"><a href="#">手机版</a></span>
                            <span class="web-pc"><a>电脑版</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear"></div>
    </div>
    <!--end-->
    @RenderSection("sec_body", required: false)
</body>
</html>
