@model CustomerInfoModel
@using Nop.Web.Models.Customer;
@using Nop.Core;

@{
    Layout = "~/Themes/DefaultClean/Views/Shared/_CustomLayout.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    //个人中心菜单
    ViewBag.Menu = "info";
}
@section sec_head{
    <script src="/Scripts/jquery.cityselect.js" type="text/javascript"></script>
}
@section sec_body{
    <script type="text/javascript">
        $(function () {
            $("#citySelect").citySelect({
                prov: "湖南",
                city: "@(string.IsNullOrEmpty(Model.City) ? "长沙" : Model.City)",
                dist: "@(string.IsNullOrEmpty(Model.District) ? "芙蓉区" : Model.District)",
                nodata: "none"
            });
        });
    </script>
}
<div id="wrap">
    @Html.Partial("CustomerMenu")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        var validationSummary = Html.ValidationSummary(true);
        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="message-error">@validationSummary</div>
        }
        <div class="account">
            <div class="infor_one">
                <div class="first">
                    <p>
                        <b>@Model.FirstName</b>, 您好,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; 您当前个人默认信息为电话 <font>@Model.CustomerPhone</font>，
                        地址： <span>@Model.City @Model.District @Model.StreetAddress</span>
                    </p>
                </div>
                <div class="second">个人信息</div>
                <ul class="third">
                    <li><label>姓 名</label>@Html.TextBoxFor(m => m.FirstName, new { maxlength = "10" })</li>
                    <li>
                        <label>性 别</label>
                        <input type="radio" name="Gender" value="男" @(Model.Gender == "男" ? Html.Raw("checked=\"checked\"") : null) class="checkbox"><label class="label_1">男</label>
                        <input type="radio" name="Gender" value="女" @(Model.Gender == "女" ? Html.Raw("checked=\"checked\"") : null) class="checkbox"><label class="label_1">女</label>
                    </li>
                    <li><label>手 机</label>@Html.TextBoxFor(m => m.CustomerPhone, new { @readonly = "true" })</li>
                    <li id="citySelect">
                        <label>地 址</label>
                        <select class="prov" name="province" style="display:none;"></select>
                        <select class="city" name="@Html.NameFor(model => model.City)"></select>
                        <select class="dist" name="@Html.NameFor(model => model.District)"></select>
                        @Html.TextBoxFor(m => m.StreetAddress, new { maxlength = "30" })
                    </li>
                    <li><a href="javascript:$('form').submit();">保存修改</a></li>
                </ul>
            </div>
        </div>
    }
</div>